<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  <img width="200" height="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2 style="text-align:center">Inscription</h2>
<form class="col-lg-5 offset-lg-4" #f="ngForm" *ngIf="exist" (ngSubmit)="f.form.valid && sendForm()"  novalidate>
<div class="form-row" >
  <div class="form-group col-md-2">
    <label for="inputTitle">Title</label>
    <select id="inputTitle" class="form-control">
      <option selected>Prof</option>
      <option >Doctor</option>
      <option >Mr</option>
      <option >Mrs</option>
      <option >Ms</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <label for="inputFirstName">First name</label>
    <input type="text" class="form-control" id="inputFirstName" name="fName"
    [(ngModel)]="model.fName"
    #fName="ngModel"
    [ngClass]="{'is-invalid':f.submitted && fName.invalid}"required/>
  </div>
  <div class="form-group col-md-4">
    <label for="lName">Last name</label>
    <input type="text" class="form-control" id="lName" name="lName"
    [(ngModel)]="model.lName"
    #lName="ngModel"
    [ngClass]="{'is-invalid':f.submitted && lName.invalid}"required/>
  </div>
</div>
<div class="form-group">
  <label for="inputInstitution">Institution</label>
  <input type="text" class="form-control col-lg-9" id="inputInstitution">
</div>
<div class="form-row" >
  <div class="form-group col-md-7">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="addr" name="addr"
    [(ngModel)]="model.addr"
    #addr="ngModel"
    [ngClass]="{'is-invalid':f.submitted && addr.invalid}" required
    >
  </div>
  <div class="form-group col-md-2">
    <label for="inputZip">Zip</label>
    <input type="text" class="form-control" id="inputZip" name="zip"
    [(ngModel)]="model.zip"
    #zip="ngModel"
    [ngClass]="{'is-invalid':f.submitted && zip.invalid}"required/>
  </div>
</div>
<div class="form-row" >
  <div class="form-group col-md-4">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" name="city"
    [(ngModel)]="model.city"
    #city="ngModel"
    [ngClass]="{'is-invalid':f.submitted && city.invalid}"required/>
  </div>
  <div class="form-group col-md-5">
    <label for="inputCountry">Country</label>
    <input type="text" class="form-control" id="inputCountry" name="country"
    [(ngModel)]="model.country"
    #country="ngModel"
    [ngClass]="{'is-invalid':f.submitted && country.invalid}"required/>
  </div>
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control col-lg-9" id="email" name="email"
  [(ngModel)]="model.email"
  #email="ngModel"
  ngModel email="true"
  [ngClass]="{'is-invalid':f.submitted && email.invalid}"required/>
</div>
<div class="form-group">
  <label for="phone">Phone</label>
  <input type="tel" class="form-control col-lg-9" id="phone" name="phone"
  [(ngModel)]="model.phone"
  pattern="06[0-9]{8}"
  placeholder="06xxxxxxxx"
  #phone="ngModel"
  [ngClass]="{'is-invalid':f.submitted && phone.invalid}"required/>
</div>
<div class="form-group">
  <label for="type">Type</label>
  <select id="type" class="form-control col-lg-9">
    <option *ngFor="let type of types">{{ type }}</option>
  </select>
</div>
  <button type="submit"  class="btn btn-primary col-lg-2 offset-lg-3" type="submit">Submit </button>
</form>
<div *ngIf="!exist" style="text-align:center">
  <p> The conference does not exit.
</div>
