<form class="col-lg-5 offset-lg-4  mt-4" #f="ngForm" (ngSubmit)="f.form.valid && sendForm()"  novalidate>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control col-lg-9" id="email"
  name="email"
  [(ngModel)]="model.email"
  #email="ngModel"
  ngModel email="true"
  [ngClass]="{'is-invalid':f.submitted && email.invalid}"required/>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control col-lg-9" id="password"
  name="password"
  [(ngModel)]="model.password"
  #password="ngModel"
  [ngClass]="{'is-invalid':f.submitted && password.invalid}"required/>
</div>
<div class="form-group">
  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" class="form-control col-lg-9" id="passwordConfirmation"
  name="confirm"
  [(ngModel)]="model.confirm"
  #confirm="ngModel"
  [ngClass]="{'is-invalid':f.submitted && confirm.invalid}"required/>
</div>
  <button type="submit"  class="btn btn-primary col-lg-2 offset-lg-3" type="submit">Submit </button>
</form>
