<form *ngIf="!isLoggedIn" class="col-lg-5 offset-lg-4 mt-4" #f="ngForm" (ngSubmit)="f.form.valid && sendForm()"  novalidate>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control col-lg-9" id="email"
  name="email"
  [(ngModel)]="modelLogin.email"
  #email="ngModel"
  ngModel email="true"
  [ngClass]="{'is-invalid':f.submitted && email.invalid}"required/>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control col-lg-9" id="password"
  name="password"
  [(ngModel)]="modelLogin.password"
  #password="ngModel"
  [ngClass]="{'is-invalid':f.submitted && password.invalid}"required/>
</div>
  <button type="submit"  class="btn btn-primary col-lg-2 offset-lg-3" type="submit">Submit </button>
  <div class="mt-3 offset-sm-3">
    <small>
      <a routerLink="/register">Create new account</a>
    </small>
  </div>
</form>


<form *ngIf="isLoggedIn" class="col-lg-5 offset-lg-4" #f="ngForm" (ngSubmit)="f.form.valid && publishConf()"  novalidate>
<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control col-lg-8" id="title"
  name="title"
  [(ngModel)]="modelConf.title"
  #title="ngModel"
  [ngClass]="{'is-invalid':f.submitted && title.invalid}"required/>
</div>
    <div class="form-group">
      <label for="earlyDate">Eearly date</label>
      <input class="form-control col-lg-8" type="date"
      name="early"
      [(ngModel)]="modelConf.early_date"
      [ngClass]="{'is-invalid':f.submitted && early.invalid}"required
      #early="ngModel"
      />
    </div>
  <div class="control-group" id="Eprices">
    <label class="control-label" for="early">Prices</label>
    <div class="controls">
        <div class="input-group cpl-xs-3">
          <input class="form-control col-lg-7" name="priceE" type="text"
          [(ngModel)] ="modelConf.earlyPrice"
          #priceE="ngModel"
          [ngClass]="{'is-invalid':f.submitted && priceE.invalid}" required
          />
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary">€</button>
          </div>
        </div>
    </div>
  </div>
    <div class="form-group">
      <label for="earlyDate">Late date</label>
      <input class="form-control col-lg-8" type="date"
      name="late"
      #late="ngModel"
      [(ngModel)] = "modelConf.late_date"
      [ngClass]="{'is-invalid':f.submitted && late.invalid}" required
      />
    </div>
    <div class="control-group" id="Lprices">
      <label class="control-label" for="late">Prices</label>
      <div class="controls">
          <div class="input-group">
            <input class="form-control col-lg-7" name="priceL" type="text"
            [(ngModel)] ="modelConf.latePrice"
            #priceE="ngModel"
            [ngClass]="{'is-invalid':f.submitted && priceL.invalid}" required
            />
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary">€</button>
            </div>
          </div>
      </div>
    </div>
<button type="submit"  class="btn btn-primary col-lg-2 offset-lg-3 " type="submit">Submit </button>
</form>
