<form class="col-lg-5 offset-lg-4 mt-5"  (submit)="sendForm()">
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control col-lg-9" id="email">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control col-lg-9" id="password">
</div>
<div class="form-group">
  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" class="form-control col-lg-9" id="passwordConfirmation ">
</div>
  <button type="submit"  class="btn btn-primary col-lg-2 offset-lg-3" type="submit">Submit </button>
</form>
